*{/* Reset CSS */
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* General Tag Formatter*/
a{
    color: #000;
    text-decoration: none;
}

/* General Classes */
.container{
    width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
}

.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-space-around{
    justify-content: space-around;
}

/* Header */
header{
    background-color: #666;
    padding: 20px;
}

/* Navbar */
nav{
    background-color: #EEE;
}
nav ul{
    list-style: none;
}
nav ul li a{
    background-color: #333;
    color: #FFF;
    padding: 15px;
    display: inline-block;
    transition: all ease-in-out 0.2s;
}
nav ul li a:hover{
    background-color: #fff;
    color: #666;
}