/* Class Hide is commonly used to manually hide elements from a page without altering several lines of code or
erasing the element. */
.hide{
    display: none;
}

.content-flex{
    display: flex;
    width: 1280px;
    justify-content: space-between;
    height: 500px;
    align-items: center;
    flex-wrap: wrap;
}
.content-flex p{
    padding: 30px;
    width: 200px;
}
.content-flex p:first-child{
    font-weight: bold;
}
.content-flex p::before{
    content: ' ';
    width: 20px;
    height: 20px;
    background-color: #DDD;
    display: inline-block;
    margin-right: 10px;
}

a{
    background-color: #EEE;
    padding: 30px;
    display: inline-block;
}